nav{
    height: 4rem;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    background-color:#12406F;
    color:white;
    justify-content:space-between;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    width: 97%;
    position:fixed;
}
nav > h1{
    margin-left:5rem;
    font-size:1.7rem
}
.menubar h4+img{
    width:1rem;
    height:1rem;
    
}
.menubar h4{
    font-weight: 500
}
.menubar :first-child{
display: flex;
align-items: center;
gap:0.3rem
}
.menubar{
    position: relative;
}
.menubar> div+div{
    position:absolute;
    background-color:lightblue;
    padding:1rem;
    border-radius:1rem;
    width:max-content;
    left:-0.7rem
}
.menubar div+div p {
margin:1rem;
color:#525252
}
.menubar div+div p:hover{
    scale:1.2
}
nav> h1+div >img{
    width:2rem;
}
nav > h1+div >button{
    padding:0.8rem 1.5rem;
    border-radius:0.8rem;
    color:#12406F;
    font-weight:600;
    border:none  
}
nav > h1+div{
    display:flex;
    align-items:center;
    gap: 1.5rem;
    margin-right:1.5rem
}