*{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}
h1{
  font-size:2rem;
  color:#12406F
}
.carouselPage p{
  margin:1rem 0
}
.carouselPage{
  padding-top:6rem;
  height:60vh;
  background-color: #EBEBEB;
  display:flex;
  justify-content:space-between;
}
.carouselPage > div{
  margin: 7rem;
  width:30%
}
.carouselPage >  img{
  height:100%;
  /* float:right; */
  margin-right:0
}
.btn img{
  margin-left:1rem;
}
.btn{
  background-color: #12406F;
  border: none;
  color:white;
  padding: 0.8rem 1.5rem;
  display:flex;
  align-items:center;
  border-radius:1rem;
  font-weight:500;
}

.vertical{
height: 73vh
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet-active { 
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background-color:white;
  height: 2rem
}
p{
  color:#525252
}
section{
  padding: 3rem 0 4rem 5rem
}
.details >img{
  width:3.5rem
}
.exam, .details {
  display: flex;
}
.details{
  align-items: flex-start;
  gap:1rem
}
h2{
  font-size:1.2rem;
  font-weight:600;
  color:#12406F
}
.exam > div{
  width: 18%;
  padding:2rem
} 
.exam >:first-child{
  border-right: 2px solid lightgray
}
.exam >:first-child p{
  font-size:0.8rem
}
.card{
  background-color:#12406F;
  width: 25rem;
  padding: 2rem;
  border-radius:2rem
}
.card  h2, .card p{
  color:white;
}
.card >div{
  display: flex;
  align-items: center
}
.card img{
  width: 1.5rem;
  margin-left:1rem
}
.card> h2+p{
  margin:2rem 0
}
.second{
  padding: 2rem
}
.testimonials{
  background-color:#F6F6F6;
  display:flex;
}
.testimonials h1{
  font-size:3.5rem;
  font-weight:600
}
.testimonials h2{
  font-weight:400
}
.testimonials h1+h2{
  font-weight:700
}
.testimonials > div{
  width:17rem;
  padding:2rem
}
#faq{
  margin: 5rem;
  margin-bottom:0
}
#faq > h1{
  text-align:center;
  margin-bottom:4rem
}
.questions{
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
  border-bottom: 1px solid lightgray
}
.answer{
  padding: 3rem 0;
  padding-right:30rem;
  border-bottom: 1px solid lightgray;
}
#subscribe >:first-child > div{
display: flex;
margin:2rem 0
}
#subscribe input{
  width:20rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-right:1rem;
  height: 2rem
}
#subscribe input:focus{
  outline:none
}

#subscribe{
  display: flex;
  margin:0 4rem;
  padding-bottom:0
}
#subscribe> img{
  width:40%
}
#subscribe p{
  padding-right:20rem
}
#subscribe .btn{
 height:3rem
}
footer{
  background-image:url("./assets/footer.png");
  background-size:cover;
  width:100%;
  height:45vh;
  color:white;
  padding: 0 4rem;
  overflow-x:hidden
}
footer> div{
  padding:2rem
}
footer p{
  color:rgba(255,255,255,0.8);
  font-size:0.8rem
}
.copyright{
  background-color:#12406F;
  color:rgba(255,255,255,0.7);
  text-align:center
}
footer, footer >:nth-child(2)> div, footer >:last-child> div{
  display:flex;
}
{
  background-color:red
}
footer >:nth-child(2) h3{
  text-align:center
}
footer h3{
  font-size:1.3rem;
  font-weight:500;
  margin:2rem 0
}
footer >:nth-child(2) div{
 justify-content:space-around
}
footer>:first-child{
  width:35%
}
footer>:nth-child(2){
  width: 40%
}
footer>:last-child{
  padding-right:8rem
}
footer>:last-child > div{
  margin:1rem 0
}
footer>:last-child img{
  margin-right:1rem
}
#app{
  overflow:hidden
}
@media screen and (max-width:1279px){
  h1{
    font-size:1.5rem
  }
.carouselPage {
  flex-direction:column;
 margin-top:-5rem
}
.vertical {
  height:90vh
}
.carouselPage > div{
  text-align:center;
  justify-content:center;
  margin:2rem auto;
  width:50%;
}
.carouselPage>img{
  width:100%
}
section{
  padding: 2rem 
}
.exam{
  flex-direction:column;
}
.exam >div{
  width:70%
}
.exam >:first-child{
  border: none;
  border-bottom: 1px solid lightgray
}
.second{ 
  padding:0
}
.testimonials{
  flex-direction:column;
  text-align:center;
}
.testimonials > div{
  margin:auto;
}
#faq, #subscribe{
  padding:0;
  margin:2rem
}
.answer{
  padding:2rem 0
}
#subscribe{
  flex-direction: column;
  margin-bottom:0
}
#subscribe p {
  padding:0
}
#subscribe >div >div{
  flex-direction:column
}
#subscribe input{
  width:80%;
  margin-bottom:10%
}
#subscribe .btn{
  width:max-content
}
#subscribe >img{
  width:100%;
}
footer{
  padding:0;
  flex-direction:column;
  height:max-content;
  background-position: 50% 100%
}

footer>:first-child,footer>:nth-child(2) , footer>:last-child{
  width:80%;
  padding-bottom:0;
  margin:auto
}
footer h3{
  text-align:center
}
footer>:last-child{
  padding-right:0;
  margin-bottom:5%
}
.copyright{
  font-size:0.7rem
}
}


